<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey">
    <section id="news" class="white-bg padding-top-bottom">
        <div class="container bootstrap snippets bootdey">
            <div class="timeline" style="margin-top: 5rem;">

                <!-- Inicio Primeiro -->
                <div class="row">
                    <div class="col-sm-6 news-item">
                        <div class="news-content">
                            <div class="date">
                                <small>2016</small>
                                <small>2021</small>
                            </div>
                            <h2 class="news-title">Freelancer - Autônomo</h2>
                            <p>
                                Atualmente trabalhando como freelancer(autônomo) na área de Suporte Técnico, Help
                                Desk,
                                Infraestrutura de Redes e Desenvolvimento.
                            </p>
                            <a class="read-more" href="#">Saiba mais...</a>
                        </div>
                    </div>
                </div>

                <!-- Inicio Segundo -->
                <div class="row">
                    <!-- Linha vazia -->
                    <div class="col-sm-6 news-item">
                    </div>
                    <!-- Linha vazia -->
                    <div class="col-sm-6 news-item right">
                        <div class="news-content">
                            <div class="date">
                                <small>2016</small>
                                <small>2021</small>
                            </div>
                            <h2 class="news-title">Freelancer - Autônomo</h2>
                            <p>
                                Atualmente trabalhando como freelancer(autônomo) na área de Suporte Técnico, Help Desk,
                                Infraestrutura de Redes e Desenvolvimento.
                            </p>
                            <a class="read-more" href="#">Saiba mais...</a>
                        </div>
                    </div>
                </div>
                <!-- Fim Segundo -->

                <!-- Inicio Terceiro -->
                <div class="row">
                    <div class="col-sm-6 news-item">
                        <div class="news-content">
                            <div class="date">
                                <p>28</p>
                                <small>Fri</small>
                            </div>
                            <h2 class="news-title">Freelancer - Autônomo</h2>

                            <p>
                                Atualmente trabalhando como freelancer(autônomo) na área de Suporte Técnico, Help Desk,
                                Infraestrutura de Redes e Desenvolvimento.
                            </p>
                            <a class="read-more" href="#">Saiba mais...</a>
                        </div>
                    </div>
                </div>
                <!-- Fim Terceiro -->

                <div class="row">
                    <!-- Linha vazia -->
                    <div class="col-sm-6 news-item">
                    </div>
                    <!-- Linha vazia -->
                    <div class="col-sm-6 news-item right">
                        <div class="news-content">
                            <div class="date">
                                <small>2016</small>
                                <small>2021</small>
                            </div>
                            <h2 class="news-title">Freelancer - Autônomo</h2>
                            <p>
                                Atualmente trabalhando como freelancer(autônomo) na área de Suporte Técnico, Help
                                Desk,
                                Infraestrutura de Redes e Desenvolvimento.
                            </p>
                            <a class="read-more" href="#">Saiba mais...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>