body{
    background-color: #d5e0e7;
}

.navbar{
    background-color: rgb(23, 118, 243);
}

.navbar-toggler-icon{
    font-size: x-large;
}

.navbar-brand{
    font-size: 1.7rem;
    font-weight: 500;
    margin-left: 1rem;
}

.email{
    text-decoration: none;
    color: white;
}

.input-group-addon{
    margin-right: 10px;
}

.content{
    margin-top: 3.5rem;
}

.h2-timeline{
    margin-top: 5rem;
    margin-left: 5rem;
    font-weight: 600;
}