{% load static %}
{% load avatar_tags %}
<!DOCTYPE html>
<html lang="pt-br">
    
<head>

    <!-- Include Header -->
    {% include "models-templates-home/model-header.html" %}
    
</head>

<body>

    {% include "components/navbar/navbar-home.html" %}
    <!-- Include Body -->
    {% block content %}
        <a href="{% url 'avatar_change' %}">Change your avatar</a>
    {% endblock %}

    <!-- Include Footer -->
    {% include "models-templates-home/model-footer.html" %}
    
</body>

<!-- JS -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</html>